.App {
  text-align: center;
}

/* header part */
.link-item {
  display: inline-block;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  color: hwb(0 4% 96%);
  font-size: 10px;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: bolder;
  padding: 15px;
  transition: all ease 0.5s;
}

#join {
  display: flex;
  float: right;
  padding: 1%;
  margin: 0.5%;
  background-color: #1faaff;
  border-radius: 20px !important;
}

#headerBgImg {
  background-image: url(./images/pets-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
}

/* header ending */

/* about us */
.masthead-heading,
.masthead-intro {
  text-align: center;
  color: #fff;
}

.masthead {
  padding: 16em 0;
  background-image: url(./images/about-pet.jpg);
  background-color: #1faaff;
  background-size: cover;
  background-repeat: no-repeat;
}

/* about us ending */
/* conatus */
#contact-img {
  padding: 15em 0;
  margin: 2%;
  background-image: url(./images/contact-pet.jpg);
  background-color: #1faaff;
  background-size: cover;
  background-repeat: no-repeat;
}

/* conatus ending */